/************************************/
/************** COLOR ***************/


.bg-white {
    background-color: white;
}

.fg-white {
    color: white;
}

.bg-black {
    background-color: black;
}

.fg-black {
    color: black;
}

.fg-grey {
    color: #7d7f84;
}

.bg-lightGray {
    background-color: lightgray;
}

.bg-gray {
    background-color: #222;
}

.bg-green {
    background-color: green;
}

.bg-pink {
    background-color: pink;
}

.bg-blue {
    background-color: blue;
}

.bg-bottomBar {
    background-color: #282828;
}

.bg-mainContent {
    background-color: #141922;
}

.bg-CalltoAction {
    background-color: rgba(0, 0, 0, 0.201);
}