/********* MEDIA QUERIES *********/

/* SMALL MOBILE DEFAULT  */

body.debug {
    background: red;
}

/* MOBILE*/
@media screen and (min-width: 480px) {
    body.debug {
        background: orange;
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    body.debug {
        background: yellow;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    body.debug {
        background: yellowgreen;
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1201px) {
    body.debug {
        background: green;
    }
}