/* SMALL MOBILE DEFAULT LAYOUT */

/* *****MAIN***** */

main {
    width: 100%;
    height: calc(100vh - 100px)
}

/* *****SIDEBAR***** */


.sidebar {
    width: 50px;
}

a>img {
    width: 30px;
}

#bigLogo {
    padding: 0.5rem;
    width: 80%;
}



/* *****MAINCONTAINER***** */

.mainContainer {
    width: calc(100% - 50px);
}

.callToAction {
    position: fixed;
    height: 80px;
    width: 100%;
}

#upgradeBtn {
    border: 1px solid;

}

.mainContent {
    margin-top: 80px;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.playOnHover {
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 31px);
}

#navigationLink {
    padding: 0.5rem
}

#navigationLink>a {
    padding: 0.5rem
}

.card {
    padding: 1rem;
    position: relative;

}

/* .card:hover+.playOnHover {
    color: red;
    display: block;

} */

.card>img {
    width: 100%;
}

#popularArtist>.card>img {
    border-radius: 50%;
}


/* ******FOOTER****** */

footer {
    height: 100px;
}



/********************************/
/****** RESPONSIVE: MOBILE ******/
@media screen and (min-width: 480px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
    /* 
    .displayBl {
        display: block;
    }

    .displayNone {
        display: none;
    } */

    .sidebar {
        width: 200px;
    }

    .mainContainer {
        width: calc(100% - 200px);
    }

}



/********************************/
/****** RESPONSIVE: TABLET ******/
@media screen and (min-width: 768px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */



}

/*********************************/
/****** RESPONSIVE: DESKTOP ******/
@media screen and (min-width: 992px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */

}


/***************************************/
/****** RESPONSIVE: LARGE DESKTOP ******/
@media screen and (min-width: 1201px) {

    /* GENERIC UI */

    /* HEADER */

    /* MAIN CONTENT */
}